@model IEnumerable<SalesWebMVC.Models.SalesRecord>

@{
    ViewData["Title"] = "Simple Search";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-filter"></span> Filter
            <a asp-action="Index" class="btn btn-default btn-xs pull-right">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
        </h3>
    </div>
    <div class="panel-body">
        <form class="form-inline" role="search">
            <div class="form-group" style="margin-right: 12px;">
                <label for="minDate" style="margin-right: 6px;">Min Date</label>
                <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
            </div>
            <div class="form-group" style="margin-right: 12px;">
                <label for="maxDate" style="margin-right: 6px;">Max Date</label>
                <input type="date" class="form-control" name="maxDate" value=@ViewData["maxDate"] />
            </div>
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span> Filter
            </button>
        </form>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Total: @Model.Sum(obj => obj.Amount).ToString("C2")
        </h3>
    </div>
    <div class="panel-body" style="padding: 0;">
        <table class="table table-striped table-hover" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                    <th>@Html.DisplayNameFor(model => model.Seller)</th>
                    <th>Department</th>
                    <th>@Html.DisplayNameFor(model => model.Amount)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Seller.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Seller.Department.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>
                            @switch (item.Status)
                            {
                                case SalesStatus.Billed:
                                    <span class="label label-success">Billed</span>
                                    break;
                                case SalesStatus.Pending:
                                    <span class="label label-warning">Pending</span>
                                    break;
                                case SalesStatus.Canceled:
                                    <span class="label label-danger">Canceled</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>